* {
  font-family: "Zen Maru Gothic", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: aquamarine;
  font-size: 30px;
}

h2 {
  margin-top: 5px;
}

body {
  margin: 0;
}

:where(body, button, input, textarea) {
  font-size: 20px;
}

.main-content {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.nnose-area {
  position: relative;

  border: 1px solid black;
  border-radius: 20px;

  min-width: 400px;
  padding: 20px 5px;

  text-align: center;
  font-size: 40px;

  color: #3c03f0;
}

.shader {
  position: fixed;
  z-index: 10;
  background-color: black;
  opacity: 0.5;
  width: 100dvw;
  height: 100dvh;
}

.settings-content {
  position: fixed;
  z-index: 11;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid red;
  top: 50%;
  left: 50%;
  width: 75vw;
  min-height: 25vh;
  max-height: 80vh;
  padding: 20px;
  overflow-x: auto;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
}

.settings-content > * {
  margin-bottom: 10px;
}

.reset-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.reset-buttons > button {
  --bg: #f77;
  border-radius: 20px;
  border: none;
  box-shadow: none;
}

#close-settings {
  --bg: #ddd;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 25px;
  padding: 2px 20px;
  box-shadow: none;
  border: 1px solid black;
}

button {
  cursor: pointer;
  background-color: var(--bg);
  border-radius: 10px;
}
button:hover {
  background-color: color-mix(in oklab, var(--bg) 90%, black 10%);
}

.setup-content {
  position: fixed;
  z-index: 11;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid red;
  top: 50%;
  left: 50%;
  width: 75vw;
  padding: 20px;
  overflow-x: auto;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  text-align: center;
}

#nose-submit {
  --bg: aqua;
  border-radius: 1000px;
  padding: 5px;
  width: 80%;
  margin-top: 10px;
  box-shadow: none;
  border: 1px solid black;
}

#seated {
  --bg: #ff7;
  padding: 5px 20px;
  box-shadow: none;
  border-radius: 10000px;
}

button:disabled {
  background-color: #888 !important;
}

input {
  max-width: 80%;
}

.main-control {
  position: relative;
  top: 20px;
}

#achievements-wrapper {
  position: relative;
  top: 40px;
}

.achievement {
  padding: 5px 5px;
  width: calc(100% - 10px);
  border: 1px solid #777;
  border-radius: 20px;
  text-align: left;
  display: flex;
  height: 60px;
}
.achievement::before {
  content: "🏆";
  font-size: 40px;
}
.achievement-title {
  font-size: 120%;
}
.achievement-desc {
  font-size: 80%;
}
